// ==============================
// Override Variables
// ==============================

// Color of the background
$global-background-color: #fff !default;
$global-background-color-dark: #131418 !default;

// Color of the text
$global-font-color: #161209 !default;
$global-font-color-dark: #cfcccc !default;

// Color of the single link
$single-link-color: #a3e635 !default;
$single-link-color-dark: #a3e635 !default;

// Color of the hover single link
$single-link-hover-color: #a3e635 !default;
$single-link-hover-color-dark: #a3e635 !default;

// Color of the code
$code-color: #E74C3C !default;
$code-color-dark: #cfcccc !default;