:root { --color-neutral: 255, 255, 255;
    --color-neutral-50:     255,255,255;
    --color-neutral-100:    255,255,255;
    --color-neutral-200:    231,234,238;
    --color-neutral-300:    186,194,206;
    --color-neutral-400:    142,155,174;
    --color-neutral-500:    100,116,139;
    --color-neutral-600:    83,96,115;
    --color-neutral-700:    66,76,92;
    --color-neutral-800:    49,57,68;
    --color-neutral-900:    32,37,44;
    --color-primary-50:     255,255,255;
    --color-primary-100:    255,255,255;
    --color-primary-200:    255,255,255;
    --color-primary-300:    242,237,254;
    --color-primary-400:    191,164,250;
    --color-primary-500:    139,92,246;
    --color-primary-600:    111,53,244;
    --color-primary-700:    84,15,242;
    --color-primary-800:    70,11,204;
    --color-primary-900:    57,9,166;
    --color-secondary-50:     255,255,255;
    --color-secondary-100:    255,255,255;
    --color-secondary-200:    194,253,219;
    --color-secondary-300:    120,251,175;
    --color-secondary-400:    45,249,130;
    --color-secondary-500:    6,212,92;
    --color-secondary-600:    5,172,75;
    --color-secondary-700:    4,133,58;
    --color-secondary-800:    3,93,40;
    --color-secondary-900:    2,53,23;
    }